* {
    margin: 0;
    padding: 0;
    font-family: "Overpass", sans-serif;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    max-width: 327px;
    border-radius: 15px;
    background: radial-gradient(#232a34 0%, #181E27 100%);
}

.rating-card {
    margin: auto 1.5rem;
    height: auto;
}

.svg-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    border-radius: 50%;
    background-color: var(--dark-blue);
}

h1 {
    margin-top: 1rem;
    color: white;
    font-size: 1.75rem;
    font-weight: 700;
}

p {
    margin-top: 0.625rem;
    color: var(--light-grey);
    line-height: 1.5rem;
}

form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.rating-wrapper {
    display: flex;
    width: 98%;
    justify-content: space-between;
}

input[type="button"] {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: var(--light-grey);
    background-color: var(--dark-blue);
    border: none;
}

.submit {
    margin-bottom: 2rem;
    background-color: var(--orange);
    border-radius: 22.5px;
    border: none;
    text-transform: uppercase;
    padding: 0.9rem;
    width: 99%;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1.87px;
}

/* Thank You card styles */

.thankyou-card {
    display: none;
}